body{
    background-color: rgb(198, 222, 243);
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}
h1 {
    text-align: center;
    font-size: 42px;
    background-color:rgb(57, 114, 167);
    color: black;
}
p {
    text-align: center;
    font-size: 16px;
}
.beluga-img {
    width: 300px;
}
.belugapost {
    width: 300px;
    height: 425px;
    background-color: rgb(227, 237, 252);
    font-size: 15px;
    margin: 30 auto; /*margin ,x= how far it is from another, auto centers objects*/
    border: 5px solid rgb(57, 114, 167);
}
.seahorse-img {
    height: 350px;
    margin: 10 auto;
    display: block;

}
.seahorsepost {
    width: 300px;
    height: 425px;
    background-color: rgb(227, 237, 252);
    font-size: 15px;
    margin: 30 auto;
    border: 5px solid rgb(57, 114, 167);
    padding: 30px 20px;
}